*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #8e9ea1;
    display: flex;
    align-items: center;
}
header a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
}
header ul{
    list-style-type: none;
}

#main-links ul{
    display: flex;
}

#logo{
    font-size: 1.8em;
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
}
